/* Archivo: editProfile.css */

.edit-profile-container {
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 8px 8px 16px #b8b9be, -8px -8px 16px #ffffff;
    background-color: #e0e0e0;
}

.edit-profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.edit-profile-header h2 {
    font-size: 2rem;
    color: #37474F;
    margin-bottom: 10px;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-profile-form label {
    font-size: 1.1rem;
    color: #607D8B;
}

.edit-profile-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #ffffff;
    outline: none;
}

.edit-profile-form input:focus {
    border-color: #607D8B;
}

.save-profile-button {
    padding: 15px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}

.save-profile-button:hover {
    transform: scale(1.05);
}

.save-profile-button:active {
    box-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #ffffff;
}