/* Archivo: rewards.css */

.rewards-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 8px 8px 16px #b8b9be, -8px -8px 16px #ffffff;
    background-color: #e0e0e0;
    text-align: center;
}

.rewards-container h2 {
    font-size: 1.8rem;
    color: #37474F;
    margin-bottom: 10px;
}

.rewards-container p {
    font-size: 1.2rem;
    color: #607D8B;
    margin-bottom: 20px;
}

.neomorph-button {
    padding: 10px 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.neomorph-button:hover {
    transform: scale(1.05);
}

.neomorph-button:active {
    box-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #ffffff;
}